body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

div {
    background-color: #32373B;
    border-radius: 50px;
    padding: 5rem;
}

h1 {
    color: darkseagreen;
}

h2 {
    color: #F3B61F;
}

h3 {
    color: rgb(68, 157, 209);
}

h4 {
    color: hsl(12, 85%, 60%);
}